<div contenteditable="true" role="textbox" translate="no" class="tiptap ProseMirror" tabindex="0">
    <h1>05　试验项目</h1>
    <p>本功能项共包含8个功能点。</p>
    <ol>
        <li>
            <p>通电前外观与连接检查</p>
        </li>
        <li>
            <p>供电接口与绝缘检查</p>
        </li>
        <li>
            <p>上电时序检查</p>
        </li>
        <li>
            <p>输入电压及稳态电流检查</p>
        </li>
        <li>
            <p>状态指示与告警检查</p>
        </li>
        <li>
            <p>设备加电自检检查</p>
        </li>
        <li>
            <p>总线通信检查</p>
        </li>
        <li>
            <p>断电与状态复查</p>
        </li>
    </ol>
    <p><br class="ProseMirror-trailingBreak"></p>
</div>