<div contenteditable="true" role="textbox" translate="no" class="tiptap ProseMirror" tabindex="0">
    <h1 style="text-align: center;"><strong>xxxx任务系统设备通电检查方案</strong></h1>
    <p><br class="ProseMirror-trailingBreak"></p>
    <div class="tableWrapper">
        <table style="min-width: 50px;">
            <colgroup>
                <col style="min-width: 25px;">
                <col style="min-width: 25px;">
            </colgroup>
            <tbody>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><strong>密级</strong></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p>内部</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><strong>方案编号</strong></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p>SY-2026-101</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><strong>版本号</strong></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p>V1.0</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><strong>编制单位</strong></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p>xxx单位</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="1" rowspan="1">
                        <p><strong>编制日期</strong></p>
                    </td>
                    <td colspan="1" rowspan="1">
                        <p>2026年7月</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <p><br class="ProseMirror-trailingBreak"></p>
</div>